.old {
    width: 100vw;
    height: 90vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.69) 0%, rgba(0, 0, 0, 0.69) 100%), url(ceramic.jpg), lightgray 50% / cover no-repeat;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    text-align: center; 
    color: white; 
    
    gap:8%;

  }
  .old p{
    color: #FFF;
font-family: Italianno;
font-size: 70px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }
  
  .button1 {
    text-decoration: none;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  .btn1 {
    width: 145px;
    height: 49.094px;
    border-radius: 200px;
    background: rgba(255, 165, 0, 0.52);
    border: none;
  }
  .margin{
    margin-top:8%
  }
    .pictures img{
        width: 377.328px;
        height: 251.675px;
padding-bottom: 10px;

    }
    .pictures {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        text-align: center; 
        flex-wrap: wrap;
        
    }
    .video-container {
        position: relative;
        width: 90vw; 
        height: 360px; 
        background: rgba(255, 165, 0, 0.78);
        margin:auto
    }

    /* Style for the video icon */
    .video-icon {
        position: absolute;
        top: 50%;
        left: 45%;
        transform: translate(-50%, -50%);
        cursor: pointer;
    }
      
    .slider{
        width: 1300px;
        max-width: 100vw;
        height: 700px;
        margin: auto;
        position: relative;
        overflow: hidden;
    }
    .slider .list{
        position: absolute;
        width: max-content;
        height: 100%;
        left: 0;
        top: 0;
        display: flex;
        transition: 1s;
    }
    .slider .list img{
        width: 1300px;
        max-width: 100vw;
        height: 100%;
        object-fit: cover;
    }
    .slider .buttons{
        position: absolute;
        top: 45%;
        left: 5%;
        width: 90%;
        display: flex;
        justify-content: space-between;
    }
    .slider .buttons button{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #fff5;
        color: #fff;
        border: none;
        font-family: monospace;
        font-weight: bold;
    }
    .slider .dots{
        position: absolute;
        bottom: 10px;
        left: 0;
        color: #fff;
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }
    .slider .dots li{
        list-style: none;
        width: 10px;
        height: 10px;
        background-color: #fff;
        margin: 10px;
        border-radius: 20px;
        transition: 0.5s;
    }
    .items{
        display: flex; justify-content: space-evenly;align-items: center ;flex-wrap: wrap;
    }
    .slider .dots li.active{
        width: 30px;
    }
    .orange-svg {
        fill: #B97A07; /* Default color */
      }
     
    
    @media screen and (max-width: 768px){
        .slider{
            height: 400px;
        }
       
  
}